body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   background:#EBB6CE;
   color: #5A3A0A;
   margin: 0 auto;
   max-width: 1200px;
   padding: 20px 15px;
   display: grid;
   gap: 20px;
   font-size: 20px;
   line-height: 1.5;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "hd hd hd"
      "tn tn tn"
      "sd pg pg"
      "ft ft ft";
}

@media (max-width: 460px) {
   body {
       font-size: 16px;
       padding: 10px 10px 0px;
   }
}
a {
   text-decoration: none;
   color: #5A3A0A;
}

li {
   list-style: none;
   padding: 0;
}
h1, h2, h3, ul {
   padding: 0;
   margin: 0;
}
 h1, h2, h3 {
   line-height: 2;
 }
@media (max-width: 465px) {
    h1, h2, h3 {
   line-height: 1,5;
   font-size: 19px;
 }
}
/* -------------------- header -------------    */
.header {
   grid-area: hd;
  padding-bottom: 30px;
   padding-top: 30px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
    background:rgba(242, 216, 229, 0.7);
    z-index: 100;
}
@media (max-width: 768px) {
.header {
  padding-bottom: 20px;
   padding-top: 20px;
}
}
.header__container { 
   display: flex;
   align-items: center;
   justify-content: center;
     margin: 0 auto;
   max-width: 1200px;
}


.menu__list {
   display: flex;
   column-gap: 40px;
   row-gap: 10px;
   flex-wrap: wrap;
   justify-content: center;
}
.menu__item {
  list-style-type: none;
}
.menu__link  {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
   white-space: nowrap;
   
}
.menu__link:hover {
   text-shadow: rgb(223, 140, 206) 15px 20px 30px;
   text-decoration-line: underline;
   text-decoration-color: #ec8dd9;
   transition: all ease .8s;
}
/* -------------------- title -------------    */

.title-name {
    grid-area: tn;
    background: #EAC9E1;
    padding: 30px 10px;
    margin-top: 100px;
    border-radius: 40px;
    }
.title-name__occupation {
   text-align: center;
   font-size: 30px;
   color: #fff;
}

.title-name__name {
   text-align: center;
}
/* -------------------- aside -------------    */
.sidebar {
   background: #E8C8F4;
   border-radius: 40px;
   margin-top: 50px;
   min-width: 260px;
   grid-area: sd;
}

.sidebar__container {
   padding: 30px 15px;
  
}
@media (max-width: 900px) {
   .sidebar__container {
      font-size: 16px;}
  
}
@media (max-width: 460px) {
   .sidebar__container {
   padding: 20px 10px;
}
}
.sidebar__content {
   display: flex;
   flex-direction: column;
   
   gap: 30px;
   min-height: 100%;
   position: relative;
}
.aside__avatar {
   text-align: center;
   background: #B0E6E9;
   max-width: 280px;
   max-height: 280px;
   border-radius: 50%;
   overflow: hidden;
   margin: 0 auto;
   border: 15px solid  #B0E6E9;
}
img {
  width: 90%;
}
.pictures {

   position: absolute;
   top: 120%;
   left: -50px;
}
.pictures__items {
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
}


.pictures__item img{
 width: 160%;
}

.pictures__item_first {
     transform: rotate(-30deg);
}
.pictures__item_second {
   transform: scale(1.4);
}

.pictures__item_third {
   transform: rotate(30deg);

}


/* -------------------- contact -------------    */
.contacts__title {
   text-align: center;
}
.fa-envelope, .fa-phone, .fa-viber, .fa-github, .fa-github {
 color: #B0E6E9;
 text-shadow: rgb(223, 154, 209) 1px 0 20px;
}
.fa-envelope, .fa-phone, .fa-viber, .fa-github, .fa-github {
 color: #B0E6E9;
 text-shadow: rgb(223, 154, 209) 1px 0 20px;
 transition: all ease 0.5s;
}
.contacts__link {
   margin-right: 10px;
   line-height: 1.7;
}
.fa-envelope:hover, .fa-phone:hover, .fa-viber:hover, .fa-github:hover, .fa-github:hover {
   font-weight: 900;
   font-size: 20px;
}
.contacts__description {
   transition: all ease 0.5 ;
}
.contacts__description:hover {
 font-weight: 700;
}
/* -------------------- main-section -------------    */

.page {
   grid-area: pg;
     margin-top: 50px;
}


/* -------------------- education -------------    */
.sidebar__education {
   flex: 1 1 auto;
}

.education__title {
   text-align: center;
}

.content-eduacation {
   display: flex;
   flex-direction: column;
   gap: 30px;
   line-height: 1.5;
}
.content-education__institution {
   font-size: 20px;
   font-weight: 500;
}
/* -------------------- contact -------------    */
.contacts__description {
   display: inline-block;
}
.contacts__title {}

/* -------------------- skills -------------    */
.skills__container {
   margin-top: 50px; 
   white-space: nowrap;
}
.type-skills {
   display: grid;
   gap: 15px;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.languages-skills__span {
   font-weight: 600;
    color:  #B0E6E9;
}

/* -------------------- code -------------    */
.code__container {
   position: relative;
}
.code__title {
   margin-top: 30px;
}
.code__description {
   font-size: 18px;
   line-height: 1.5;
   white-space: wrap;
}
.pre {
   white-space: wrap;
}
@media (max-width: 768px) {
   .code {
   font-size: 10px;
    line-height: 1;
}
}

@media (max-width: 448px) {
   .code {
   font-size: 6px;
    line-height: 1;
}}

.code__image {
   position: absolute;
   z-index: -1;
   right: 8%;
   top: 60%;
   transform: scale(1.2);
}
@media (max-width: 1000px) {
   .code__image {
   right: 0%;
   top: 45%;
   transform: scale(1);
}
}
@media (max-width: 768px) {
   .code__image {
   right: -20%;
   top: 90%;
   transform: scale(0.7);
}
}
/* -------------------- portfolio -------------    */
.portfolio__container {
   margin-top: 50px; 
}
.content-portfolio {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 15px;
   margin-top: 30px;
}
.content-portfolio__item {
   background: #E8C8F4;
   border-radius: 40px;
   padding: 10px;
   gap: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  
}

.content-portfolio__image {
overflow: hidden;
border-radius: 20px;

}
.content-portfolio__image-link {
transition: all ease 0.5s;
filter: blur(1px);
max-width: 100%;
max-height: 150px;
}
.content-portfolio__image-link:hover {
   transform: scale(1.1);
   filter: blur(0px);
   border-radius: 20px;
}

.content-portfolio__description:hover {
  transition: all ease 0.5s;
  font-size: 20px;
  font-weight: 600;

}
/* -------------------- footer -------------    */
.footer {
   grid-area: ft;
    text-shadow: rgb(192, 122, 179) 1px 0 10px;
    color: #b0e6e9;
    background: #ECA5C5;
   border-radius: 40px;
}

.footer__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   padding: 30px 10px;
   flex-wrap: wrap;
   gap: 20px;
}

.footer__item {
    padding: 5px 10px;
    font-size: 22px;
}

.rsschool:hover {
   fill: #10c3c3; 
   color: #10c3c3; 
}

.footer__link:hover .fa-github {
     color: #10c1c1; 
}
.footer__item_github {
order: 1;
}
.footer__item_copy {
   order: 2;
}
.footer__item_rsschool {
   order: 3;
}

@media (max-width: 426px) {
.footer__item_github {
order: 1;
}
.footer__item_copy {
   order: 3;
}
.footer__item_rsschool {
   order: 2;
}
.footer__container {
   justify-content: center;
}
}






